@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var siteSettings = Model.GetSiteSettings();
	var siteName = siteSettings?.Value<string>("siteName") ?? "U13T";
}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">@siteName</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			@await Html.GetBlockGridHtmlAsync(siteSettings!, "mainNavigation")
		</div>
	</div>
</nav>