@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MainLayout.cshtml";
}

<h1>Home Page worked!</h1>
<p class="text-danger">
	@Umbraco.GetDictionaryValueOrDefault("Greeting", "Hello")
</p>